<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <nav class="nav-bar">
        <div id="profile">
            <img src="statics/user.png">
            <div class="button-container">
                <button>logout</button>
                <button>create post</button>
            </div>
        </div>
    </nav>

    <div class="global-container">
        <div class="user-list-container">
            <h3>User-list</h3>
            <div class="user-data">
                <div class="avatar">
                    <img src="statics/user.png" alt="profile-img">
                    <div class="online-marker"></div>
                </div>

                <span>Alice</span>
            </div>

            <div class="user-data">
                <div class="avatar">
                    <img src="statics/user.png" alt="profile-img">
                    <div class="online-marker"></div>
                </div>

                <span>Robert</span>
            </div>

            <div class="user-data">
                <div class="avatar">
                    <img src="statics/user.png" alt="profile-img">
                    <div class="online-marker"></div>
                </div>

                <span>Bob</span>
            </div>
        </div>


        <div class="chat-container">
            <div class="user-data talk-to">
                <div class="avatar">
                    <img src="statics/user.png" alt="profile-img">
                    <div class="online-marker"></div>
                </div>

                <span>Alice</span>
            </div>

            <div class="chat-container">
                <div class="messages">

                    <div class="message message--other">
                        <div class="bubble">
                            Salut, tu vas bien ?
                        </div>
                    </div>

                    <div class="message message--me">
                        <div class="bubble">
                            Oui, et toi ?
                        </div>
                    </div>

                    <div class="message message--other">
                        <div class="bubble">
                            Salut, tu vas bien ?
                        </div>
                    </div>

                    <div class="message message--me">
                        <div class="bubble">
                            Oui, et toi ?
                        </div>
                    </div>
                    <div class="message message--other">
                        <div class="bubble">
                            Salut, tu vas bien ?
                        </div>
                    </div>

                    <div class="message message--me">
                        <div class="bubble">
                            Oui, et toi ?
                        </div>
                    </div>
                    <div class="message message--other">
                        <div class="bubble">
                            Salut, tu vas bien ?
                        </div>
                    </div>

                    <div class="message message--me">
                        <div class="bubble">
                            Oui, et toi ?
                        </div>
                    </div>
                    <div class="message message--other">
                        <div class="bubble">
                            Salut, tu vas bien ?
                        </div>
                    </div>

                    <div class="message message--me">
                        <div class="bubble">
                            Oui, et toi ?
                        </div>
                    </div>
                    <div class="message message--other">
                        <div class="bubble">
                            Salut, tu vas bien ?
                        </div>
                    </div>

                    <div class="message message--me">
                        <div class="bubble">
                            Oui, et toi ?
                        </div>
                    </div>
                    <div class="message message--other">
                        <div class="bubble">
                            Salut, tu vas bien ?
                        </div>
                    </div>

                    <div class="message message--me">
                        <div class="bubble">
                            Oui, et toi ?
                        </div>
                    </div>
                                        <div class="message message--other">
                        <div class="bubble">
                            Salut, tu vas bien ?
                        </div>
                    </div>

                    <div class="message message--me">
                        <div class="bubble">
                            Oui, et toi ?
                        </div>
                    </div>
                                        <div class="message message--other">
                        <div class="bubble">
                            Salut, tu vas bien ?
                        </div>
                    </div>

                    <div class="message message--me">
                        <div class="bubble">
                            Oui, et toi ?
                        </div>
                    </div>                                                                                              
                </div>


                <div class="chat-input">
                    <textarea class="chat-textarea" rows="1" placeholder="Écrire un message…"></textarea>
                    <button class="send-btn">Envoyer</button>
                </div>
            </div>

        </div>
    </div>


</body>
</html>