<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="container">
        <div class="input-error"></div>

        <div class="form-row">
            <input type="text" id="identifier" name="identifier" required maxlength="50"
                placeholder="email or nickname">
        </div>

        <div class="form-row">
            <input type="password" id="password" name="password" required maxlength="20" minlength="6"
                placeholder="password">
        </div>

        <button id="login-submit-btn">Sign-in</button>
    </div>
</body>

</html>